*.pyc
__pycache__/
.env
env/
.venv
venv/
**/target/
node_modules/
logs/
.git
.gitignore
.vscode
test.py
commits.txt

apps/static/assets/node_modules
apps/static/assets/yarn.lock
apps/static/assets/.temp