{% extends "layouts/base.html" %}

{% block title %}Icon Feather{% endblock title %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pc-container" data-bs-theme="dark">
      <div class="pc-content" data-bs-theme="dark">
        <!-- [ breadcrumb ] start -->

        <!-- [ breadcrumb ] end -->

        <!-- [ Main Content ] start -->
        <div class="row justify-content-center">
          <!-- [ Filter Syntax Rules ] start -->
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header">
                <h3>General Overview</h3>
                <p>
                  This page details the rules for writing filters within the Hero Stats page. Examples will be shown below 
                  along with space to practice writing and validating filters.
                </p>
              </div>
              <div class="card-body pc-component">
                <h4>Filter Usage</h4>
                <p>Filters are primarily used to adjust which battles the user wants to include 
                  when calculating stats like win rate and pick rate. They can also be used to 
                  automatically adjust the chart to the filtered subset if desired. EveAlmost all columns listed
                  in the full table of battles at the bottom of the stats page can filtered on using the custom syntax.
                  The rest of this page will detail the exact syntax and rules for writing filters.
                </p>
                <div class="clearfix"></div>
                <hr>
                <h4>Object Types</h4>
                <p>There are 5 main syntactic objects:</p>
                <ol class="text-sm">
                  <li>Fields: keywords corresponding to data from each of the battles, 
                    such as if the battle is a win, the victory points the player ended the battle at, 
                    the first hero the player picked, etc.</li>
                  <li>Declared Data: data values the user defines to filter the data on. They include integers, 
                    dates, strings, sets, booleans, and ranges. There are also some keywords like "current-season" that allow the user to conveniently 
                    utilize declared data based on predifined logic (in this case, the keyword would translate to a range of dates capturing the current season).
                  </li>
                  <li>Operators: the operations that allow the comparison of Fields to
                     Declared Data and are the core of the filters (includes operations like >, <, =, set membership, etc.). </li>
                  <li>Functions: higher level operators that may allow the combination of filters in a logical manner or correspond to complex predefined filters.</li>
                  <li>Pure Syntax Elements: characters like brackets, quotes, commas, and semicolons that define how the filters are broken up and parsed.</li>
                  <li>Some operations require specific data types; 
                    if this is the case, an error will be thrown specifiying the necessary data type.</li>
                </ol>
                <div class="clearfix"></div>
                <hr>
                <h4>High Level Rules</h4>
                <ol class="text-sm">
                  <li>Filter syntax is entirely case insensitive. It will be converted to lowercase in the backend.</li>
                  <li>All filters must be separated by a semicolon ( ; ) if multiple are applied.</li>
                  <li>The terminating semicolon ( ; ) for the last filter (including if only one filter) is optional.</li>
                  <li>Every filter must either be a function call or a base filter of the form: X operator Y</li>
                  <li>Functions and sets will have their constituent arguments separated by commas ( , ) not semicolons ( ; )</li>
                  <li>Clause functions like And(...), OR(...), etc. can take nested clause functions as arguments but must ultimately terminate as base filters.</li>
                  <li>Certain functions, like last-N(), are global filters that must take into account all 
                    battles when filtering (last-N captures only the N most recent battles). Since these filters are affected by other filters, 
                    to regulate the logic, all global filters will be hoisted to the top and executed in the order they were written. </li>
                  <li>Apart from global filter hoisting, all filters will execute in the order they are written.</li>
                  <li>Some filters or sets of filters are valid but will never return true. For instance, comparing different data types
                    or using two filters which together specify a hero must be picked by both the player and the opponent. 
                    These filters will pass validation, and the resulting stats will be empty.
                  </li>
                </ol>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header">
                <h5>Fields</h5>
              </div>
              <div class="card-body pc-component text-sm">
                <table class="table filter-syntax-table" style="width: 100%;">
                  <tbody>
                    <tr>
                      <td class="cm-datafield" style="white-space: nowrap;">date</td>
                      <td class="cm-def">&rarr;</td>
                      <td class="cm-default">the date the battle occurred</td>
                    </tr>
                    <tr>
                      <td class="cm-datafield" style="white-space: nowrap;">is-win</td>
                      <td class="cm-def">&rarr;</td>
                      <td class="cm-default">boolean indicator flagging if the player won</td>
                    </tr>
                    <tr>
                      <td class="cm-datafield" style="white-space: nowrap;">is-first-pick</td>
                      <td class="cm-def">&rarr;</td>
                      <td class="cm-default">boolean indicator flagging if the player got first pick</td>
                    </tr>
                    <tr>
                      <td class="cm-datafield" style="white-space: nowrap;">victory-points</td>
                      <td class="cm-def">&rarr;</td>
                      <td class="cm-default">integer indicating the victory points the player ended the battle at</td>
                    </tr>
                    <tr>
                      <td class="cm-datafield" style="white-space: nowrap;">prebans</td>
                      <td class="cm-def">&rarr;</td>
                      <td class="cm-default">set of all the prebanned heroes</td>
                    </tr>
                    <tr>
                      <td class="cm-datafield" style="white-space: nowrap;">postbans</td>
                      <td class="cm-def">&rarr;</td>
                      <td class="cm-default">set of the two postbanned heroes</td>
                    </tr>
                  </tbody>
                </table>
                <P>Attributes</P>
                <P class="text-sm">Attributes are types of fields that are accessed by using the syntax 
                  p1.'attribute here' or p2.'attribute here' ; for example, 'p1.pick1' is used to access the 
                  first picked hero by player 1 in the battle.</P>
                <table class="table filter-syntax-table" style="width: 100%;">
                  <tbody>
                    <tr>
                      <td class="cm-datafield" style="white-space: nowrap;">pick[n]</td>
                      <td class="cm-def">&rarr;</td>
                      <td class="cm-default">Accesses pick n for the corresponsing player. 
                        Replace [n] with numbers 1 - 5 to access the corresponding pick.</td>
                    </tr>
                    <tr>
                      <td class="cm-datafield" style="white-space: nowrap;">picks</td>
                      <td class="cm-def">&rarr;</td>
                      <td class="cm-default">Accesses a set of all 5 picks for the specified player</td>
                    </tr>
                    <tr>
                      <td class="cm-datafield" style="white-space: nowrap;">league</td>
                      <td class="cm-def">&rarr;</td>
                      <td class="cm-default">a string value that gives the league the specified player ended the battle in (i.e. emperor, warlord, etc.)</td>
                    </tr>
                    <tr>
                      <td class="cm-datafield" style="white-space: nowrap;">prebans</td>
                      <td class="cm-def">&rarr;</td>
                      <td class="cm-default">Accesses the set of the 2 heroes prebanned by the specified player</td>
                    </tr>
                    <tr>
                      <td class="cm-datafield" style="white-space: nowrap;">postban</td>
                      <td class="cm-def">&rarr;</td>
                      <td class="cm-default">Accesses the hero postbanned by the speficied player</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header">
                <h5>Declared Data</h5>
              </div>
              <div class="card-body pc-component text-sm">
                <table class="table filter-syntax-table" style="width: 100%;">
                  <tbody>
                    <tr>
                      <td class="cm-number" style="white-space: nowrap;">Integer</td>
                      <td class="cm-def">&rarr;</td>
                      <td class="cm-default">Any valid non-negative integer (declare like '2787' without the quotes)</td>
                    </tr>
                    <tr>
                      <td class="cm-date" style="white-space: nowrap;">Date</td>
                      <td class="cm-def">&rarr;</td>
                      <td class="cm-default">Date value using YYYY-MM-DD format exclusively (declare like '2025-01-07' without the quotes). Date must be valid.</td>
                    </tr>
                    <tr>
                      <td class="cm-string" style="white-space: nowrap;">String</td>
                      <td class="cm-def">&rarr;</td>
                      <td class="cm-default">Text based data declared within either double or single quotes (example: "lone wolf peira").
                        The quotes are necessary when declared outside of a set
                      </td>
                    </tr>
                    <tr>
                      <td class="cm-bool" style="white-space: nowrap;">Boolean</td>
                      <td class="cm-def">&rarr;</td>
                      <td class="cm-default">Corresponds to true or false values; declare using 'true' or 'false' without the quotes</td>
                    </tr>
                    <tr>
                      <td class="cm-set" style="white-space: nowrap;">Set</td>
                      <td class="cm-def">&rarr;</td>
                      <td class="cm-default">Used to group multiple individual pieces of data together; declare using the format { x, y, z, ...}. 
                    A trailing comma after the last element is optional. Sets can only contain strings and dates and must be of a homegeneous type. 
                    Strings within sets do not need to be quoted</td>
                    </tr>
                    <tr>
                      <td class="cm-range" style="white-space: nowrap;">Range</td>
                      <td class="cm-def">&rarr;</td>
                      <td class="cm-default">Used to define a continuous range of either integers or dates. Can be used in cases where a set can be used. 
                    Declare using the syntax: 'X...Y' or 'X...=Y', where the '=' indicates if Y should be included in the set. 
                  X and Y must either both be integers or both be dates 
                  (example: 2025-05-01...2025-06-01 yields a set of all dates in May 2025)</td>
                    </tr>
                    <tr>
                      <td class="cm-datafield" style="white-space: nowrap;">Season</td>
                      <td class="cm-def">&rarr;</td>
                      <td class="cm-default">Used to easily define a range of dates corresponding particular seasons or preseasons.
                        Can be declared by writing "season-n" without quotes, where n is the number of the desired season. 
                        Season numbers and dates can be seen in the season details table at the top of the stats page. The keyword 
                        "current-season" can alternatively be used to access the active season.
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header">
                <h5>Operators</h5>
              </div>
              <div class="card-body pc-component text-sm">
                <table class="table filter-syntax-table" style="width: 100%;">
                  <tbody>
                    <tr>
                      <td class="cm-operator" style="white-space: nowrap;">=</td>
                      <td class="cm-def">&rarr;</td>
                      <td class="cm-default">Checks if left side is equal to right side.</td>
                    </tr>
                    <tr>
                      <td class="cm-operator" style="white-space: nowrap;">=</td>
                      <td class="cm-def">&rarr;</td>
                      <td class="cm-default">Checks if left side is not equal to right side.</td>
                    </tr>
                    <tr>
                      <td class="cm-operator" style="white-space: nowrap;">></td>
                      <td class="cm-def">&rarr;</td>
                      <td class="cm-default">Checks if left side is greater than right side,</td>
                    </tr>
                    <tr>
                      <td class="cm-operator" style="white-space: nowrap;">>=</td>
                      <td class="cm-def">&rarr;</td>
                      <td class="cm-default">Checks if left side is greater than or equal to right side,</td>
                    </tr>
                    <tr>
                      <td class="cm-operator" style="white-space: nowrap;"><</td>
                      <td class="cm-def">&rarr;</td>
                      <td class="cm-default">Checks if left side is less than right side,</td>
                    </tr>
                    <tr>
                      <td class="cm-operator" style="white-space: nowrap;"><=</td>
                      <td class="cm-def">&rarr;</td>
                      <td class="cm-default">Checks if left side is less than or equal to right side,</td>
                    </tr>
                    <tr>
                      <td class="cm-operator" style="white-space: nowrap;">in</td>
                      <td class="cm-def">&rarr;</td>
                      <td class="cm-default">
                        Checks if the left side of the operator is contained within the right side. 
                        The right side of the operator must be a Range, Set, or Field that corresponds to a set (i.e. p1.picks, p2.prebans, etc.).
                      </td>
                    </tr>
                    <tr>
                      <td class="cm-operator" style="white-space: nowrap;">!in</td>
                      <td class="cm-def">&rarr;</td>
                      <td class="cm-default">
                        Checks if the left side of the operator is not contained within the right side. 
                        The right side of the operator must be a Range, Set, or Field that corresponds to a set (i.e. p1.picks, p2.prebans, etc.).
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header">
                <h5>Functions</h5>
              </div>
              <div class="card-body pc-component text-sm">
                <P>Clause Functions</P>
                <P class="text-sm">
                  Clause functions generally take 1 or more filters as arguments and create logic gates to combine the result.
                  Clause functions can take other clause functions as arguments, but the syntax tree must eventually terminate
                  as base filters. Global Filter Functions cannot be used within Clause Functions.
                </P>
                <table class="table filter-syntax-table" style="width: 100%;">
                  <tbody>
                    <tr>
                      <td class="cm-keyword" style="white-space: nowrap;">AND</td>
                      <td class="cm-def">&rarr;</td>
                      <td class="cm-default">
                        Creates an AND gate for the filter arguments, returning
                        true if alls arguments return true. An empty AND function will always return true
                        Call using the syntax 'AND( arg1, arg2, ...)'
                      </td>
                    </tr>
                    <tr>
                      <td class="cm-keyword" style="white-space: nowrap;">OR</td>
                      <td class="cm-def">&rarr;</td>
                      <td class="cm-default">
                        Creates an OR gate for the filter arguments, returning true if any argument returns true. 
                        An empty OR function will always return false.
                        Call using the syntax 'OR( arg1, arg2, ...)'
                      </td>
                    </tr>
                    <tr>
                      <td class="cm-keyword" style="white-space: nowrap;">XOR</td>
                      <td class="cm-def">&rarr;</td>
                      <td class="cm-default">
                        Creates an XOR gate for the filter arguments, returning a boolean value based on a cascading XOR. 
                        XOR requires at least 2 arguments to pass validation.
                        Call using the syntax 'XOR( arg1, arg2, ...)'
                      </td>
                    </tr>
                    <tr>
                      <td class="cm-keyword" style="white-space: nowrap;">NOT</td>
                      <td class="cm-def">&rarr;</td>
                      <td class="cm-default">
                        The NOT function takes exactly one argument which must 
                        be a filter (not an individual Field or Data Declaration)
                        and inverts the boolean result. Call using the syntax 'NOT(arg)'.
                      </td>
                    </tr>
                  </tbody>
                </table>
                <P>Global Filter Functions</P>
                <P class="text-sm">
                  Global filter functions are context aware, meaning that they cannot be applied to one battle in a vacuum.
                  They require knowledge of the other battles to determine resulting truth value for the battle being processed.
                  As such, they are affected by other filters in the chain. Therefore, to standardize behavior, all global 
                  filter functions are hoisted to the top of the filter chain and executed in order.
                </P>
                <table class="table filter-syntax-table" style="width: 100%;">
                  <tbody>
                    <tr>
                      <td class="cm-keyword" style="white-space: nowrap;">last-N</td>
                      <td class="cm-def">&rarr;</td>
                      <td class="cm-default">
                        Filters for the most recent N battles. Requires and Integer as an argument.
                        Call using the syntax 'last-N(Integer)'
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header">
                <h5>Syntax Elements</h5>
              </div>
              <div class="card-body pc-component text-sm">
                <table class="table filter-syntax-table" style="width: 100%;">
                  <tbody>
                    <tr>
                      <td class="cm-bracket" style="white-space: nowrap;">;</td>
                      <td class="cm-def">&rarr;</td>
                      <td class="cm-default">
                        Must use semicolons to separate filters when multiple are used.
                         Do not use semicolons in functions.
                      </td>
                    </tr>
                    <tr>
                      <td class="cm-bracket" style="white-space: nowrap;">,</td>
                      <td class="cm-def">&rarr;</td>
                      <td class="cm-default">Commas are used to separate arguments to functions or sets.</td>
                    </tr>
                    <tr>
                      <td class="cm-bracket" style="white-space: nowrap;">()</td>
                      <td class="cm-def">&rarr;</td>
                      <td class="cm-default">Parentheses are used to bound the arguments to function calls.</td>
                    </tr>
                    <tr>
                      <td class="cm-bracket" style="white-space: nowrap;">{}</td>
                      <td class="cm-def">&rarr;</td>
                      <td class="cm-default">Braces are used to bound the arguments to a set declaration.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- [ Filter Syntax Rules ] end -->

          <!-- [ Filter Examples ] start -->
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header">
                <h5>Example Filter 1</h5>
                <P class="text-sm">
                  This filter takes only battles in the current season and filters for first pick 
                  games where the player selected either ML Peira or New Moon Luna as their first pick and 
                  harsetti was prebanned.
                </P>
              </div>
              <div class="card-body pc-component text-sm">
                <div id="exFilter1-wrapper">
                  <textarea id="exFilter1" name="code" class="codemirror-hidden">
                  </textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header">
                <h5>Example Filter 2</h5>
                <P class="text-sm">
                  This filter first selects the most recent 500 battles, then filters 
                  those for second pick games that occurred between April 2025 and June 2025
                  in which either the opponent is in Warlord, Emeperor, or Legend and picked Zio on 3, or games
                  in which the player ended with at or above 3000 victory points. <br><br>

                  *Note that it does not matter when the last-n filter is placed; 
                  it will always execute before local filters, since it is a global filter.
                  Therefore, the result will likely have much less than 500 battles. <br><br>

                  **Also note that the indentation is purely for readability. Multiple spaces or returns will be ignored during parsing.
                </P>
              </div>
              <div class="card-body pc-component text-sm">
                <div id="exFilter2-wrapper">
                  <textarea id="exFilter2" name="code" class="codemirror-hidden">
                  </textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header">
                <h5>Example Filter 3</h5>
                <P class="text-sm">
                  This filter selects only games in which ML Arunka and Rinak are prebanned,
                  Harsetti was picked by the player and was not postbanned, and the player ended
                  with victory points between 2500 and 3000 inclusively.
                </P>
              </div>
              <div class="card-body pc-component text-sm">
                <div id="exFilter3-wrapper">
                  <textarea id="exFilter3" name="code" class="codemirror-hidden">
                  </textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header">
                <h5>Example Filter 4</h5>
                <P class="text-sm">
                  This filter selects only games which occurred 
                  in the pre-season following season 16 that the player won
                </P>
              </div>
              <div class="card-body pc-component text-sm">
                <div id="exFilter4-wrapper">
                  <textarea id="exFilter4" name="code" class="codemirror-hidden">
                  </textarea>
                </div>
              </div>
            </div>
          </div>
          <!-- [ Filter Examples ] end -->

          <!-- [ Filter Syntax Test ] start -->
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header text-center kpi-header tight-fit">
                <h3>Test Filter Syntax</h3>
                <h6 class="small-text">Write filter syntax below to test. Use the 'Check Syntax' button to verify the filter is properly formed.</h6>
              </div>
              <div class="card-body text-center kpi-body tight-fit">
                <div class="row justify-content-center">
                  <span class="d-block mb-1 rel-width-80 scrollable-60px" id="filterMSG">&nbsp;</span>
                  <form method="post" id="filterForm" class="card-body">
                      {{ form.hidden_tag() }}
                      <textarea id="codeArea" name="code" class="codemirror-hidden">{{ code or '' }}</textarea>
                      <div class="d-flex justify-content-center gap-3 mt-4">
                          <button type="submit" name="check-syntax" value="check" class="btn shadow px-sm-1">Check Syntax</button>
                      </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- [ Filter Syntax Test] end -->
        </div>
        <!-- [ Main Content ] end -->
      </div>
    </div>

{% endblock content %}

{% block extra_js %}

<script type="module">
    import { RegExps, PageUtils } from "/static/assets/js/exports.js";


    CodeMirror.defineMode("filterSyntax", function() {
      return {
          token: function(stream, state) {
              return RegExps.tokenMatch(stream);
          }
      };
    });

    function dedent(str) {
      const lines = str.replace(/^\n/, '')
        .split('\n')
        .filter(s => s !== "")
        .map(s => s.trim());
      return lines.join('\n');
    }

    function makeExFilter(textAreaID, str) {
      const textArea = document.getElementById(textAreaID);
      textArea.value = str.replace(/^\n/, '');
      CodeMirror.fromTextArea(textArea, {
        mode: "filterSyntax",
        lineNumbers: true,
        theme: "default",
        readOnly: true
      });
      textArea.classList.remove('codemirror-hidden');
    }


    const ex1Str = `
date in current-season;
is-first-pick = true;
p1.pick1 in {lone wolf peira, new moon luna};
OR("harsetti" in p1.prebans, "harsetti" in p2.prebans);`;

    makeExFilter("exFilter1", ex1Str);


    const ex2Str = `
last-n(500);
date in 2025-04-01...2025-07-01;
is-first-pick = false;
OR(
	AND(
		p2.league in {warlord, emperor, legend},
    	p2.pick3 = "zio"
    ),
    victory-points >= 3000
)`;

    makeExFilter("exFilter2", ex2Str);

    const ex3Str = `
"Rinak" in prebans;
"Boss Arunka" in prebans;
"Harsetti" in p1.picks;
NOT("Harsetti" = p2.postban);
victory-points in 2500...=3000;`;

    makeExFilter("exFilter3", ex3Str);

    const ex4Str = `
date in season-16.5;
is-win = true;`;

    makeExFilter("exFilter4", ex4Str);


    const textarea = document.getElementById("codeArea");
    const editor = CodeMirror.fromTextArea(textarea, {
      mode: "filterSyntax",
      lineNumbers: true,
      theme: "default"
    });

    // Intercept form submission
    const filterForm = document.getElementById("filterForm");
    filterForm.addEventListener('submit', async function(event) {
        event.preventDefault(); // Prevent actual form submission to server

        // Ensure value is synced back to textarea before submit ; not strictly necessary since processed client-side
        document.getElementById("codeArea").value = editor.getValue();

        console.log("Processing Filter Action");
        const clickedButton = event.submitter;
        const action = clickedButton?.value;
        const syntaxStr = editor.getValue();
        if (action === "check") {
            console.log("Checking Str", syntaxStr);
            await PageUtils.validateFilterSyntax(syntaxStr);
        }
    });

    // sync changes back to textarea if needed
    editor.on("change", () => {
        editor.save(); // Updates the hidden textarea for form submit
    });

    // Show the editor after it's initialized
    textarea.classList.remove('codemirror-hidden');
</script>

{% endblock extra_js %}
