{% extends "layouts/base.html" %}

{% block title %}Filter Syntax{% endblock title %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="pc-container" data-bs-theme="dark">
  <div class="pc-content" data-bs-theme="dark">
    <!-- [ breadcrumb ] start -->

    <!-- [ breadcrumb ] end -->

    <!-- [ Main Content ] start -->
    <div class="row justify-content-center">
      <!-- [ Filter Syntax Rules ] start -->
      <div id="filter-syntax-rules-container" class="justify-content-center">
      <!-- [ Filter Syntax Rules ] end -->
      </div>

      <!-- [ Filter Examples ] start -->
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Example Filter 1</h5>
            <P class="text-sm">
              This filter takes only battles in the current season and filters for first pick
              games where the player selected either ML Peira or New Moon Luna as their first pick and
              harsetti was prebanned.
            </P>
          </div>
          <div class="card-body pc-component text-sm">
            <div id="exFilter1-wrapper">
              <textarea id="exFilter1" name="code" class="codemirror-hidden">
                  </textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Example Filter 2</h5>
            <P class="text-sm">
              This filter first selects the most recent 500 battles, then filters
              those for second pick games that occurred between April 2025 and June 2025
              in which either the opponent is in Warlord, Emeperor, or Legend and picked Zio on 3, or games
              in which the player ended with at or above 3000 victory points. <br><br>

              *Note that it does not matter when the last-n filter is placed;
              it will always execute before local filters, since it is a global filter.
              Therefore, the result will likely have much less than 500 battles. <br><br>

              **Also note that the indentation is purely for readability. Multiple spaces or returns will be ignored
              during parsing.
            </P>
          </div>
          <div class="card-body pc-component text-sm">
            <div id="exFilter2-wrapper">
              <textarea id="exFilter2" name="code" class="codemirror-hidden">
                  </textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Example Filter 3</h5>
            <P class="text-sm">
              This filter selects only games in which ML Arunka and Rinak are prebanned,
              Harsetti was picked by the player and was not postbanned, and the player ended
              with victory points between 2500 and 3000 inclusively.
            </P>
          </div>
          <div class="card-body pc-component text-sm">
            <div id="exFilter3-wrapper">
              <textarea id="exFilter3" name="code" class="codemirror-hidden">
                  </textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Example Filter 4</h5>
            <P class="text-sm">
              This filter selects only games which occurred
              in the pre-season following season 16 that the player won
            </P>
          </div>
          <div class="card-body pc-component text-sm">
            <div id="exFilter4-wrapper">
              <textarea id="exFilter4" name="code" class="codemirror-hidden">
                  </textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Example Filter 5</h5>
            <P class="text-sm">
              This filter selects only games where the player selected belian, and
              Belian was equipped with both Counter and Immunity sets, and Belian was either
              equipped with 3f or Elbris Ritual Sword. Furthermore, it filters only for battles
              in which the opponent selected New Moon Luna, and New Moon Luna took the first turn, and
              the opponent was either from the Global, Japan, or Asia servers.
            </P>
          </div>
          <div class="card-body pc-component text-sm">
            <div id="exFilter5-wrapper">
              <textarea id="exFilter5" name="code" class="codemirror-hidden">
                  </textarea>
            </div>
          </div>
        </div>
      </div>
      <!-- [ Filter Examples ] end -->

      <!-- [ Filter Syntax Test ] start -->
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header text-center kpi-header tight-fit">
            <h3>Test Filter Syntax</h3>
            <h6 class="small-text">Write filter syntax below to test. Use the 'Check Syntax' button to verify the filter
              is properly formed.</h6>
          </div>
          <div class="card-body text-center kpi-body tight-fit">
            <div class="row justify-content-center">
              <span class="d-block mb-1 rel-width-80 scrollable-60px" id="filterMSG">&nbsp;</span>
              <form method="post" id="filterForm" class="card-body">
                {{ form.hidden_tag() }}
                <textarea id="codeArea" name="code" class="codemirror-hidden">{{ code or '' }}</textarea>
                <div class="d-flex justify-content-center gap-3 mt-4">
                  <button type="submit" name="check-syntax" value="check" class="btn shadow px-sm-1">Check
                    Syntax</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- [ Filter Syntax Test] end -->
    </div>
    <!-- [ Main Content ] end -->
  </div>
</div>

{% endblock content %}

{% block extra_js %}
<script type="module" src="{{ get_manifest(filename='filter-syntax.js') }}"></script>
{% endblock extra_js %}