{% extends "layouts/base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="pc-container">
    <div class="pc-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="mb-0">RTA Unit Data</h5>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <ul class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="{{ url_for('home_blueprint.index') }}">Home</a></li>
                            <li class="breadcrumb-item"><a href="javascript: void(0)">Dashboard</a></li>
                            <li class="breadcrumb-item" aria-current="page">Home</li>
                        </ul>
                        {% if "username" in session %}
                        <form method="post" action="#">
                            <button name="switch_user" class="btn btn-primary mb-4" type="submit" id="switch_user_btn">
                                Switch User
                            </button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">

            <!-- [ season details table ] start -->
            <div class="col-sm-6">
                <div class="card razz-kpi">
                    <div class="card-header kpi-header">
                        <h5 class="text-white">Season Details</h5>
                    </div>
                    <div class="card-body kpi-body">
                        <div>
                            <table id="SeasonDetailsHead" class="clean-table">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col" style="transform: translateX(5%);">Season</th>
                                        <th scope="col" style="transform: translateX(24%);">Start</th>
                                        <th scope="col" style="transform: translateX(18%);">End</th>
                                        <th scope="col" style="transform: translateX(20%);">Status</th>
                                    </tr>
                                </thead>
                            </table>
                            <div class="scrollable-200">
                                <table id="SeasonDetailsBody" class="clean-table interior-border-tbl" style="width:100%;">
                                    <tbody>
                                        {% for item in season_details %}
                                        <tr>
                                            <td>{{ item['Season Number'] }}</td>
                                            <td>{{ item['Season'] }}</td>
                                            <td>{{ item['Start'] }}</td>
                                            <td>{{ item['End'] }}</td>
                                            <td>{{ item['Status'] }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ season details table ] end -->

            <!-- [ plot section ] start -->
            <div class="col-sm-12" id="rank-plot" style="width:100%">
                <div class="card" style="width:100%">
                    {{ rank_plot|safe }}
                </div>
            </div>

            <script>
                // window.addEventListener('load', function () {
                //     // Look for all plotly charts if multiple exist
                //     const plotDivs = document.querySelectorAll('.js-plotly-plot');
                //     plotDivs.forEach(div => {
                //         setTimeout(() => {
                //             Plotly.Plots.resize(div);
                //         }, 20);
                //     });
                // });
                setTimeout(() => {
                    window.dispatchEvent(new Event('resize'));
                }, 10);
            </script>
            <!-- [ plot section ] end -->


            <!-- [ player hero stats section ] start -->
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header fixed-height-table-header">
                        <h5>Player Heroes</h5>
                        <br>
                        <h6 style="font-size: 0.7em;">Displays statistics for heroes when they appear on the user's team
                        </h6>
                    </div>
                    <div class="card-body kpi-body">
                        <table id="PlayerTable" class="display compact cell-border" style="width:100%">
                            <thead>
                                <tr>
                                    <th scope="col">Hero Name</th>
                                    <th scope="col">Wins</th>
                                    <th scope="col">Appearances</th>
                                    <th scope="col">Appear Rate</th>
                                    <th scope="col">Win rate</th>
                                    <th scope="col">+/-</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in player_hero_stats %}
                                <tr>
                                    <td>{{ item['hero'] }}</td>
                                    <td>{{ item['games_won'] }}</td>
                                    <td>{{ item['games_appeared'] }}</td>
                                    <td>{{ item['appearance_rate'] }}</td>
                                    <td>{{ item['win_rate'] }}</td>
                                    <td>{{ item['+/-'] }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- [ player hero stats section ] end -->

            <!-- [ opponent hero stats section ] start -->
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header fixed-height-table-header">
                        <h5>Enemy Heroes</h5>
                        <br>
                        <h6 style="font-size: 0.7em;">Displays statistics for heroes when they appear on the enemy team. The win rate and +/- is relative to the player not the opponent.
                        </h6>
                    </div>
                    <div class="card-body kpi-body">
                        <table id="OpponentTable" class="display compact cell-border" style="width:100%">
                            <thead>
                                <tr>
                                    <th scope="col">Hero Name</th>
                                    <th scope="col">Wins</th>
                                    <th scope="col">Appearances</th>
                                    <th scope="col">Appear Rate</th>
                                    <th scope="col">Win rate</th>
                                    <th scope="col">+/-</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in enemy_hero_stats %}
                                <tr>
                                    <td>{{ item['hero'] }}</td>
                                    <td>{{ item['games_won'] }}</td>
                                    <td>{{ item['games_appeared'] }}</td>
                                    <td>{{ item['appearance_rate'] }}</td>
                                    <td>{{ item['win_rate'] }}</td>
                                    <td>{{ item['+/-'] }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- [ opponent hero stats section ] end -->

            <!-- [ battles df section ] start -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header text-center kpi-header">
                        <h5>Player Battles</h5>
                        <h6 style="font-size: 0.7em;">
                            Displays information on the player's battles; Two star heroes will show as their internal code not their name
                        </h6>
                    </div>
                    <div class="card-body kpi-body">
                        <table id="BattlesTable" class="display compact cell-border" style="width:100%">
                            <thead>
                                <tr>
                                    <th scope="col">Date/Time</th>
                                    <th scope="col">Seq Num</th>
                                    <th scope="col">P1 ID</th>
                                    <th scope="col">P2 ID</th>
                                    <th scope="col">P1 League</th>
                                    <th scope="col">P2 League</th>
                                    <th scope="col">P1 Points</th>
                                    <th scope="col">Win</th>
                                    <th scope="col">Firstpick</th>
                                    <th scope="col">P1 Preban 1</th>
                                    <th scope="col">P1 Preban 2</th>
                                    <th scope="col">P2 Preban 1</th>
                                    <th scope="col">P2 Preban 2</th>
                                    <th scope="col">P1 Pick 1</th>
                                    <th scope="col">P1 Pick 2</th>
                                    <th scope="col">P1 Pick 3</th>
                                    <th scope="col">P1 Pick 4</th>
                                    <th scope="col">P1 Pick 5</th>
                                    <th scope="col">P2 Pick 1</th>
                                    <th scope="col">P2 Pick 2</th>
                                    <th scope="col">P2 Pick 3</th>
                                    <th scope="col">P2 Pick 4</th>
                                    <th scope="col">P2 Pick 5</th>
                                    <th scope="col">P1 Postban</th>
                                    <th scope="col">P2 Postban</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in battles_data %}
                                <tr>
                                    <td>{{ item['Date/Time'] }}</td>
                                    <td>{{ item['Seq Num'] }}</td>
                                    <td>{{ item['P1 ID'] }}</td>
                                    <td>{{ item['P2 ID'] }}</td>
                                    <td>{{ item['P1 League'] }}</td>
                                    <td>{{ item['P2 League'] }}</td>
                                    <td>{{ item['P1 Points'] }}</td>
                                    <td>{{ item['Win'] }}</td>
                                    <td>{{ item['Firstpick'] }}</td>
                                    <td>{{ item['P1 Preban 1'] }}</td>
                                    <td>{{ item['P1 Preban 2'] }}</td>
                                    <td>{{ item['P2 Preban 1'] }}</td>
                                    <td>{{ item['P2 Preban 2'] }}</td>
                                    <td>{{ item['P1 Pick 1'] }}</td>
                                    <td>{{ item['P1 Pick 2'] }}</td>
                                    <td>{{ item['P1 Pick 3'] }}</td>
                                    <td>{{ item['P1 Pick 4'] }}</td>
                                    <td>{{ item['P1 Pick 5'] }}</td>
                                    <td>{{ item['P2 Pick 1'] }}</td>
                                    <td>{{ item['P2 Pick 2'] }}</td>
                                    <td>{{ item['P2 Pick 3'] }}</td>
                                    <td>{{ item['P2 Pick 4'] }}</td>
                                    <td>{{ item['P2 Pick 5'] }}</td>
                                    <td>{{ item['P1 Postban'] }}</td>
                                    <td>{{ item['P2 Postban'] }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- [ battles df stats section ] end -->
        </div>
    </div>
</div>
    {% endblock content %}

    {% block extra_js %}

    <script src="{{ url_for('static', filename='assets/js/plugins/apexcharts.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/plugins/jsvectormap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/plugins/world.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/pages/dashboard-default.js') }}"></script>

    <script>
        $(document).ready(function () {
            var table = $('#PlayerTable').DataTable({
                layout: {
                    topStart: 'buttons'
                },
                language: {
                    info: 'Total rows: _TOTAL_'
                },
                buttons: {
                    name: 'primary',
                    buttons: ['copy',
                        {
                            extend: 'csv',
                            text: 'CSV',
                            filename: "Player Hero Stats",
                        },
                        {
                            extend: 'excel',
                            text: 'Excel',
                            filename: "Player Hero Stats",
                        }
                    ]
                },
                pageLength: 50,
                scrollY: '300px',
                deferRender: true,
                scroller: true,
                scrollCollapse: false,
            }
            )
        }
        );
    </script>

    <script>
        $(document).ready(function () {
            $('#OpponentTable').DataTable({
                layout: {
                    //top2Start: 'pageLength',
                    topStart: 'buttons'
                },
                language: {
                    info: 'Total rows: _TOTAL_'
                },
                buttons: {
                    name: 'primary',
                    buttons: ['copy',
                        {
                            extend: 'csv',
                            text: 'CSV',
                            filename: "Opponent Hero Stats",
                        },
                        {
                            extend: 'excel',
                            text: 'Excel',
                            filename: "Opponent Hero Stats",
                        }
                    ]
                },
                pageLength: 50,
                scrollY: '300px',
                deferRender: true,
                scroller: true,
                scrollCollapse: false,
                // lengthMenu: 
                //     [
                //     [100, 250, 500, -1],
                //     ['100 rows', '250 rows', '500 rows', 'Show all']
                // ],
            });
        });

        $(document).ready(function () {
            var table = $('#BattlesTable').DataTable({
                layout: {
                    topStart: 'buttons'
                },
                language: {
                    info: 'Total rows: _TOTAL_'
                },
                buttons: {
                    name: 'primary',
                    buttons: ['copy', 
                        {
                            extend: 'csv',
                            text: 'CSV',
                            filename: "Battle Data",
                        },
                        {
                            extend: 'excel',
                            text: 'Excel',
                            filename: "Battle Data",
                        }
                    ]
                },
                pageLength: 50,
                scrollY: '300px',
                deferRender: true,
                scroller: true,
                scrollCollapse: false,
            }
            )
        }
        );

    </script>

    {% endblock extra_js %}