{% extends "layouts/base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="pc-container">
    <div class="pc-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="mb-0">RTA Unit Data</h5>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <ul class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="{{ url_for('home_blueprint.index') }}">Home</a></li>
                            <li class="breadcrumb-item"><a href="javascript: void(0)">Dashboard</a></li>
                            <li class="breadcrumb-item" aria-current="page">Home</li>
                        </ul>
                        {% if "username" in session %}
                        <form method="post" action="#">
                            <button name="switch_user" class="btn btn-primary mb-4" type="submit" id="switch_user_btn">
                                Switch User
                            </button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">

            <!-- [ season details table ] start -->
            <div class="col-sm-6 min-width-450">
                <div class="card razz-kpi height-400">
                    <div class="card-header kpi-header">
                        <h5 class="text-white">Season Details</h5>
                    </div>
                    <div class="card-body kpi-body rel-height-80">
                        <div class="rel-height-100">
                            <table id="SeasonDetails" class="scrollables scrollables-razz interior-border-tbl clean-table align-center-except-second col2-150">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Season</th>
                                        <th scope="col">Start</th>
                                        <th scope="col">End</th>
                                        <th scope="col">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in season_details %}
                                    <tr>
                                        <td>{{ item['Season Number'] }}</td>
                                        <td>{{ item['Season'] }}</td>
                                        <td>{{ item['Start'] }}</td>
                                        <td>{{ item['End'] }}</td>
                                        <td>{{ item['Status'] }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ season details table ] end -->

            <!-- [ filter code mirror ] start -->
            <div class="col-sm-6 min-width-450">
                <div class="card height-400">
                    <div class="card-header kpi-header">
                        <h5>Filter battles for calculations</h5>
                    </div>
                    <div class="card-body text-center tight-fit rel-height-100">
                        <div class="row justify-content-center">
                            {% if error %}
                                    <span class="d-block text-danger mb-1 rel-width-80 scrollable-60px">{{ error | safe }}</span>
                            {% elif validation_msg %}
                                    <span class="d-block text-safe mb-1 rel-width-80 scrollable-60px">{{ validation_msg| safe }}</span>
                            {% endif %}
                            <form method="post" class="card-body">
                                {{ form.hidden_tag() }}
                                <textarea id="codeArea" name="code" class="codemirror-hidden">{{ code or '' }}</textarea>
                                <div class="d-flex justify-content-center gap-3 mt-4">
                                    <button type="submit" name="check-syntax" class="btn shadow px-sm-1">Check Syntax</button>
                                    <button type="submit" name="apply-filter" class="btn shadow px-sm-1">Apply Filter</button>
                                    <button type="submit" name="clear-filter" class="btn shadow px-sm-1">Clear Filter</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ filter code mirror ] end -->


            <!-- [ fp/sp counts section ] start -->
            <div class="col-md-6 col-xl-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row d-flex align-items-center">
                            <div class="col-7">
                                <h5 class="f-w-200 d-flex align-items-center m-b-0">Total Battles:</h5>
                            </div>
                            <div class="col-5 text-align-left">
                                <h5 class="f-w-200 d-inline m-b-0" id="total-battles">&nbsp;</h5>
                            </div>
                            <div class="col-7">
                                <h5 class="f-w-200 d-flex align-items-center m-b-0">1st Pick Games:</h5>
                            </div>
                            <div class="col-5 text-align-left">
                                <h5 class="f-w-200 d-inline m-b-0" id="firstpick-count">&nbsp;</h5>
                                <p class="d-inline f-w-100 f-8 m-b-0" id="firstpick-rate">&nbsp;</p>
                            </div>
                            <div class="col-7">
                                <h5 class="f-w-200 d-flex align-items-center m-b-0">2nd Pick Games:</h5>
                            </div>
                            <div class="col-5 text-align-left">
                                <h5 class="f-w-200 d-inline  m-b-0" id="secondpick-count">&nbsp;</h5>
                                <p class="d-inline f-w-100 f-8 m-b-0" id="secondpick-rate">&nbsp;</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ fp/sp counts section ] end -->

            <!-- [ fp/sp winrates section ] start -->
            <div class="col-md-6 col-xl-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row d-flex align-items-center">
                            <div class="col-8">
                                <h5 class="f-w-200 d-inline align-items-center m-b-0">Total Win Rate:</h5>
                            </div>
                            <div class="col-4">
                                <h5 class="f-w-200 d-inline text-align-left m-b-0" id="total-winrate">&nbsp;</h5>
                            </div>
                            <div class="col-8">
                                <h5 class="f-w-200 d-inline align-items-center m-b-0">1st Pick Win Rate:</h5>
                            </div>
                            <div class="col-4">
                                <h5 class="f-w-200 d-inline text-align-left m-b-0" id="firstpick-winrate">&nbsp;</h5>
                            </div>
                            <div class="col-8">
                                <h5 class="f-w-200 d-inline align-items-center m-b-0">2nd Pick Win Rate:</h5>
                            </div>
                            <div class="col-4">
                                <h5 class="f-w-200 d-inline text-align-left m-b-0" id="secondpick-winrate">&nbsp;</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ fp/sp winrates section ] end -->

            <!-- [ first pick stats table ] start -->
            <div class="col-sm-6 min-width-450">
                <div class="card aqua-kpi height-300">
                    <div class="card-header kpi-header">
                        <h5 class="text-white">Firstpick Hero Stats</h5>
                    </div>
                    <div class="card-body kpi-body rel-height-80">
                        <div class="rel-height-100">
                            <table id="FirstpickStats" class="scrollables scrollables-aqua interior-border-tbl clean-table align-center-except-first col1-150">
                                <thead>
                                    <tr>
                                        <th scope="col">Hero</th>
                                        <th scope="col">Battles</th>
                                        <th scope="col">Pick Rate</th>
                                        <th scope="col">Win Rate</th>
                                        <th scope="col">+/-</th>
                                    </tr>
                                </thead>
                                <tbody id="FirstpickStatsBody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ first pick stats table ] end -->


            <!-- [ preban stats table ] start -->
            <div class="col-sm-6 min-width-450">
                <div class="card aqua-kpi height-300">
                    <div class="card-header kpi-header">
                        <h5 class="text-white">Preban Stats</h5>
                    </div>
                    <div class="card-body kpi-body rel-height-80">
                        <div class="rel-height-100">
                            <table id="PrebanStats" class="scrollables scrollables-aqua interior-border-tbl clean-table align-center-except-first col1-150">
                                <thead>
                                    <tr>
                                        <th scope="col">Preban</th>
                                        <th scope="col">Battles</th>
                                        <th scope="col">Ban Rate</th>
                                        <th scope="col">Win Rate</th>
                                        <th scope="col">+/-</th>
                                    </tr>
                                </thead>
                                <tbody id="PrebanStatsBody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ preban stats table ] end -->


            <!-- [ plot section ] start -->
            <div class="col-sm-12" id="rank-plot-col" style="width:100%">
                <div class="card" style="width:100%">
                    <div id="rank-plot-container"></div>
                </div>
            </div>

            <script>
                setTimeout(() => {
                    window.dispatchEvent(new Event('resize'));
                }, 10);
            </script>
            <!-- [ plot section ] end -->

            <!-- [ player hero stats section ] start -->
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header fixed-height-table-header">
                        <h5>Player Heroes</h5>
                        <br>
                        <h6 style="font-size: 0.7em;">Displays statistics for heroes when they appear on the user's team
                        </h6>
                    </div>
                    <div class="card-body kpi-body">
                        <table id="PlayerTable" class="display compact cell-border" style="width:100%">
                            <thead>
                                <tr>
                                    <th scope="col">Hero Name</th>
                                    <th scope="col">Wins</th>
                                    <th scope="col">Battles</th>
                                    <th scope="col">Pick Rate</th>
                                    <th scope="col">Win rate</th>
                                    <th scope="col">+/-</th>
                                </tr>
                            </thead>
                            <tbody id="PlayerTableBody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- [ player hero stats section ] end -->

            <!-- [ opponent hero stats section ] start -->
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header fixed-height-table-header">
                        <h5>Enemy Heroes</h5>
                        <br>
                        <h6 style="font-size: 0.7em;">Displays statistics for heroes when they appear on the enemy team. The win rate and +/- is relative to the player not the opponent.
                        </h6>
                    </div>
                    <div class="card-body kpi-body">
                        <table id="OpponentTable" class="display compact cell-border" style="width:100%">
                            <thead>
                                <tr>
                                    <th scope="col">Hero Name</th>
                                    <th scope="col">Wins</th>
                                    <th scope="col">Battles</th>
                                    <th scope="col">Pick Rate</th>
                                    <th scope="col">Win rate</th>
                                    <th scope="col">+/-</th>
                                </tr>
                            </thead>
                            <tbody id="OpponentTableBody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- [ opponent hero stats section ] end -->

            <!-- [ battles df section ] start -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header text-center kpi-header">
                        <h5>Player Battles</h5>
                        <h6 style="font-size: 0.7em;">
                            Displays information on the player's battles; Two star heroes will show as 'Fodder'; Filters are not applied to this table.
                        </h6>
                    </div>
                    <div class="card-body kpi-body">
                        <table id="BattlesTable" class="display compact cell-border" style="width:100%">
                            <thead>
                                <tr>
                                    <th scope="col">Date/Time</th>
                                    <th scope="col">Seq Num</th>
                                    <th scope="col">P1 ID</th>
                                    <th scope="col">P2 ID</th>
                                    <th scope="col">P1 League</th>
                                    <th scope="col">P2 League</th>
                                    <th scope="col">P1 Points</th>
                                    <th scope="col">Win</th>
                                    <th scope="col">Firstpick</th>
                                    <th scope="col">P1 Preban 1</th>
                                    <th scope="col">P1 Preban 2</th>
                                    <th scope="col">P2 Preban 1</th>
                                    <th scope="col">P2 Preban 2</th>
                                    <th scope="col">P1 Pick 1</th>
                                    <th scope="col">P1 Pick 2</th>
                                    <th scope="col">P1 Pick 3</th>
                                    <th scope="col">P1 Pick 4</th>
                                    <th scope="col">P1 Pick 5</th>
                                    <th scope="col">P2 Pick 1</th>
                                    <th scope="col">P2 Pick 2</th>
                                    <th scope="col">P2 Pick 3</th>
                                    <th scope="col">P2 Pick 4</th>
                                    <th scope="col">P2 Pick 5</th>
                                    <th scope="col">P1 Postban</th>
                                    <th scope="col">P2 Postban</th>
                                </tr>
                            </thead>
                            <tbody id="BattlesTableBody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- [ battles df stats section ] end -->
        </div>
    </div>
</div>
    {% endblock content %}

    {% block extra_js %}

    <script src="{{ url_for('static', filename='assets/js/plugins/apexcharts.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/plugins/jsvectormap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/plugins/world.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/pages/dashboard-default.js') }}"></script>

    <script> 
    document.addEventListener("DOMContentLoaded", async () => {
        console.log("POPULATING DATA");
        try {
            const data = await PYAPI.functions.fetchAndCache();
            Tables.functions.populateHeroStatsTable('PlayerTable', data.player_hero_stats);
            Tables.functions.populateHeroStatsTable('OpponentTable', data.enemy_hero_stats);
            Tables.functions.populatePlayerFirstpickTable('FirstpickStats', data.general_stats.firstpick_stats);
            Tables.functions.populatePlayerPrebansTable('PrebanStats', data.general_stats.preban_stats);
            Tables.functions.populateFullBattlesTable('BattlesTable', data.battles_data);
            CardContent.functions.populateBattleCounts(data.general_stats);
            CardContent.functions.populateBattlePercents(data.general_stats);
            CardContent.functions.populateRankPlot(data.rank_plot);
            console.log("FINISHED POPULATING");

        } catch (err) {
            console.error("Error loading data:", err);
        }
    });
    </script>

    <script>
        CodeMirror.defineMode("myMode", function() {
        return {
            token: function(stream) {
                if (stream.match(/int\(\d+\)/i)) {
                    return "number"; // match a number
                }
                if (stream.match(/date\(\d\d\d\d-\d\d-\d\d\)/i)) {
                    return "date"; // match a number
                }
                if (stream.match(/str\([A-Za-z ]+\)/i)) {
                    return "string"; // match a number
                }
                if (stream.match(/set\([A-Za-z ,]+\)/i)) {
                    return "set"; // match a number
                }
                if (stream.match(/AND(?=\()|OR(?=\()|XOR(?=\()|STR(?=\()|INT(?=\()|DATE(?=\()|SET(?=\()/i)) {
                return "keyword";
                }
                if (stream.match(/\s+(?:<>|<|>|=|>=|<=|in|<>in)(?=\s+)/i)) {
                    return "operator"; // match a number
                }
                if (stream.match(/(?:^|\s+)(?:true|false)(?:(?=\,)|(?=\))|(?=\s+)|$|(?=\;))/i)) {
                    return "bool"; // match a field
                }
                if (stream.match(/(?:^|\s+)(?:battle-date|firstpick|win|victory-points|p1.picks|p2.picks|p1.pick1|p1.pick2|p1.pick3|p1.pick4|p1.pick5|p2.pick1|p2.pick2|p2.pick3|p2.pick4|p2.pick5|p1.league|p2.league)(?:(?=\,)|(?=\))|(?=\s+)|$|(?=\;))/i)) {
                    return "field"; // match a field
                }
                if (stream.match(/[\(\)\{\}\;\,]/)) {
                    return "bracket"; // match a quoted string
                }
                stream.next();
                return null;
            }
        };
        });

        const textarea = document.getElementById("codeArea");
        var editor = CodeMirror.fromTextArea(textarea, {
        mode: "myMode",
        lineNumbers: true,
        theme: "default"
        });

        editor.setSize(null, 185);

        // Ensure value is synced back to textarea before submit
        document.querySelector("form").addEventListener("submit", function() {
        document.getElementById("codeArea").value = editor.getValue();
        });

            // Optional: sync changes back to textarea if needed
        editor.on("change", () => {
            editor.save(); // Updates the hidden textarea for form submit
        });

        // Show the editor after it's initialized
        textarea.classList.remove('codemirror-hidden');
    </script>

    {% endblock extra_js %}