{% extends "layouts/base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}

  <div class="pc-container">
    <div class="pc-content">
        <div class="row justify-content-center">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header text-center">
                        <h3>Welcome to E7 RTA Analyzer</h3>
                    </div>
                    <div class="card-body text-start py-3 px-5">
                        <ul>
                            <li>This tool primarily enables E7 players to maintain their RTA history beyond 100 battles.</li>
                            <li>Users can query their most recent 100 battles just like the E7 website,
                                then download the data an upload in the future to maintain a continuous history.</li>
                            <li>Some statistics are also available to help users better understand their performance.</li>
                            <li>A customizable filter syntax is available, allowing users to control what data is used in the analysis.</li>
                            <li>Navigate to content pages using the below bar or side panel.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="nav-grid col-md-12">
                <a href="{{ url_for('home_blueprint.user_query') }}" class="nav-link">
                    <div class="nav-cell">
                        <img src="{{ url_for('static', filename='assets/images/download-icon.svg') }}" width="50" height="50" class="img-fluid nav-icon" alt="download">
                        <div class="nav-label">Query User</div>
                    </div>
                </a>
                <a href="{{ url_for('home_blueprint.upload_battle_data') }}" class="nav-link">
                    <div class="nav-cell">
                        <img src="{{ url_for('static', filename='assets/images/upload-icon.svg') }}" width="50" height="50" class="img-fluid nav-icon" alt="upload">
                        <div class="nav-label">Upload Data</div>
                    </div>
                </a>
                <a href="{{ url_for('home_blueprint.filter_syntax') }}" class="nav-link">
                    <div class="nav-cell">
                        <img src="{{ url_for('static', filename='assets/images/filter-icon.svg') }}" width="50" height="50" class="img-fluid nav-icon" alt="filter">
                        <div class="nav-label">Filter Syntax</div>
                    </div>
                </a>
                <a href="{{ url_for('home_blueprint.stats') }}" class="nav-link">
                    <div class="nav-cell">
                        <img src="{{ url_for('static', filename='assets/images/chart-icon.svg') }}" width="50" height="50" class="img-fluid nav-icon" alt="chart">
                        <div class="nav-label">Stats</div>
                    </div>
                </a>
                <a href="https://github.com/ejschaef/E7-RTA-Analyzer" class="nav-link">
                    <div class="nav-cell">
                        <img src="{{ url_for('static', filename='assets/images/github-icon.svg') }}" width="50" height="50" class="img-fluid nav-icon" alt="github">
                        <div class="nav-label">GitHub</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
  </div>

{% endblock content %}

{% block extra_js %}

<script src="{{ url_for('static', filename='assets/js/plugins/apexcharts.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/plugins/jsvectormap.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/plugins/world.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/pages/dashboard-default.js') }}"></script>

{% endblock extra_js %}