{% extends "layouts/base.html" %}

{% block title %}Overview{% endblock title %}

{% block content %}

  <div class="pc-container">
    <div class="pc-content">
        <div class="row justify-content-center">
            <div class="col-md-9 mb-0">
                <div class="card mb-0">
                    <div class="card-header text-center">
                        <h3>Welcome to E7 RTA Archive</h3>
                    </div>
                    <div class="card-body text-start py-3 px-5">
                        <ul>
                            <li>This tool primarily enables E7 players to maintain their RTA history beyond 100 battles.</li>
                            <li>Users can query their most recent 100 battles just like the E7 website,
                                then download the data and upload in the future to maintain a continuous history.</li>
                            <li>All uploads are handled exclusively by the client. No data from the upload is sent to the server.</li>
                            <li>Some statistics are also available to help users better understand their performance.</li>
                            <li>A customizable filter syntax is available, allowing users to control what data is used in the analysis.</li>
                            <li>To utilize filters and query statistics, identifiers must be input correctly. A search page is available to find the correct names for things like artifacts and heroes.</li>
                            <li>Navigate to content pages using the above nav bar or the side panel.</li>
                            <li>English is currently the only supported language.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

{% endblock content %}

{% block extra_js %}
<script type="module" src="{{ get_manifest(filename='default.js') }}"></script>
{% endblock extra_js %}