{% extends "layouts/base.html" %}

{% block title %}Icon Feather{% endblock title %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pc-container d-none" id="content-body" data-bs-theme="dark">
      <div class="pc-content" data-bs-theme="dark">
        <!-- [ breadcrumb ] start -->

        <!-- [ breadcrumb ] end -->

        <!-- [ Main Content ] start -->
        <div class="row justify-content-center">
          <!-- [ feather-icon ] start -->
          <div class="col-sm-8">
            <div class="card">
              <div class="card-header text-center">
                <h3>Upload User Battles From Local File</h3>
                <h6 class="small-text">CSV Only; files must follow structure of battle CSV files from this site and only contain data from one user as P1.</h6>
              </div>
              <div class="card-body text-center py-0 px-3">
                <div class="row justify-content-center">
                    <form id="uploadForm" class="card-body">
                        {{ form.hidden_tag() }}
                        <h4 class="text-center f-w-500 mb-3">Upload CSV</h4>
                        <span id="uploadMSG" class="d-block text-safe mb-3"></span>
                        <span id="uploadError" class="d-block text-danger mb-3"></span>
                        <div class="form-group mb-3">
                          {{ form.file(class="form-control", id="csvFile") }}
                        </div>
                        <div class="d-flex justify-content-center text-center gap-4 mt-4">
                            <button type="submit" name="battle_data" class="btn btn-primary shadow px-sm-4">Submit File</button>
                            <span class="toggle-container", id="auto-query-toggle-container">
                              <label class="toggle-switch">
                                <input type="checkbox" id="auto-query-flag" checked>
                                <span class="toggle-switch-background">
                                  <span class="toggle-switch-handle"></span>
                                </span>
                              </label>
                              <h6> Auto-Query New Battles</h6>
                            </span>
                        </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
          <!-- [ feather-icon ] end -->
        </div>
        <!-- [ Main Content ] end -->
      </div>
    </div>

{% endblock content %}

{% block extra_js %}

<script type="module">
  import { CSVParse, PYAPI, ContentManager } from "{{ url_for('static', filename='assets/js/exports.js') }}";


  document.addEventListener("DOMContentLoaded", async function () {

    //auto set the query flag using Content manager
    const checkbox = document.getElementById("auto-query-flag");
    const container = document.getElementById("auto-query-toggle-container");
    container.classList.add("no-transition");
    checkbox.checked = await ContentManager.ClientCache.getFlag("autoQuery");

    setTimeout(() => {
      container.classList.remove("no-transition");
    }, 20)
    
    
    const params = new URLSearchParams(window.location.search);

    //check if error was returned from loading the data
    if (params.get("errorMSG")) {
      document.getElementById("errorMSG").textContent = params.get("errorMSG");
    }

    checkbox.addEventListener("click", async () => {
        await ContentManager.ClientCache.setFlag("autoQuery", checkbox.checked);
    });

    let selectedFile = null;

    // Capture file when selected
    document.getElementById('csvFile').addEventListener('change', function(event) {
        selectedFile = event.target.files[0];
    });

    // Intercept form submission
    document.getElementById('uploadForm').addEventListener('submit', async function(event) {
        console.log("Processing File Submission")

        event.preventDefault(); // Prevent actual form submission to server

        if (!selectedFile) {
            document.getElementById("uploadError").textContent = "Must upload a file";
            return;
        }

        // Get its state of auto-query checkbox
        const autoQueryFlag = checkbox.checked;

        const HM = await ContentManager.HeroManager.getHeroManager();

        try {
            // parse uploaded battles into an array
            const battleArr = await CSVParse.parseUpload(selectedFile);

            // delete existing data for the old user if there was one
            await ContentManager.ClientCache.clearUserData();

            // cache uploaded battles
            const uploadedBattles = await ContentManager.BattleManager.cacheUpload(battleArr);

            const playerID = battleArr[0]["P1 ID"];
            const data = await PYAPI.fetchAndCacheUser({id: playerID});
            console.log("Got data:", JSON.stringify(data));
            if (!data.error) {
              await ContentManager.ClientCache.setUser(data.user);
              const loadParams = {
                source : "upload",
                query : autoQueryFlag ? "true" : "false",
              }
              window.location.href = URLS.addStrParams(URLS.loadData, loadParams);
            } else {
              document.getElementById("errorMSG").textContent = data.error;
            }
        } catch (err) {
          console.error("Caught Error:", err);
          document.getElementById("uploadError").textcontent = err.message;
        }
    });
  });

  document.getElementById("content-body").classList.remove('d-none');
</script>

{% endblock extra_js %}
