{% extends "layouts/base.html" %}

{% block title %}Icon Feather{% endblock title %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pc-container" data-bs-theme="dark">
      <div class="pc-content" data-bs-theme="dark">

        <!-- [ Main Content ] start -->
        <div class="row justify-content-center">
          <!-- [ feather-icon ] start -->
          <div class="col-sm-8">
            <div class="card">
              <div class="card-header text-center">
                <h3>Query Data by Username and Server</h3>
              </div>
              <div class="card-body text-center px-3 py-0">
                <div class="row justify-content-center">
                    <form id="userForm", method="post" class="card-body">
                        {{ form.hidden_tag() }}
                        <span id="safeMSG" class="d-inline-block text-safe mb-3 min-height-15"></span>
                        <span id="errorMSG"class="d-inline-block text-danger mb-3 min-height-15"></span>
                        <div class="form-group mb-3">
                          {{ form.username(placeholder="E7 Username", class="form-control custom-input") }}
                        </div>
                        <div class="form-group mb-3">
                          {{ form.server(placeholder="Server", class="form-control ") }}
                        </div>
                        <div class="text-center mt-4">
                          <button type="submit" name="user_query" class="btn btn-primary shadow px-sm-4">Query User</button>
                        </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
          <!-- [ feather-icon ] end -->
        </div>
        <!-- [ Main Content ] end -->
      </div>
    </div>

{% endblock content %}

{% block extra_js %}
<script type="module">
  import { PYAPI, ContentManager, PageUtils } from "{{ url_for('static', filename='assets/js/exports.js') }}"

  document.addEventListener("DOMContentLoaded", async function () {

    const params = new URLSearchParams(window.location.search);

    if (params.get("errorMSG")) {
      let msg = params.get("errorMSG");
      if (msg === "Type1: no user") {
        msg = "Must either query a valid user or upload battles to view hero stats; there is no active user";
      }
      document.getElementById("errorMSG").textContent = msg;
    }
    const form = document.getElementById("userForm");

    // Intercept form submission
    form.addEventListener('submit', async function(event) {
        console.log("Processing User Submission")

        event.preventDefault(); // Prevent actual form submission to server

        const data = new FormData(form);
        
        const username = data.get("username");
        const server = data.get("server");

        if (!username) {
          document.getElementById("errorMSG").textContent = "Must enter username"
        } else {
          try {
            const result = await PYAPI.fetchAndCacheUser({username, server});
              if (!result.error) {
                await ContentManager.ClientCache.setUser(result.user);
                const loadParams = {
                  source : "query",
                  query : "true"
                }
                window.location.href = URLS.addStrParams(URLS.loadData, loadParams);
              } else {
                document.getElementById("errorMSG").textContent = data.error;
              }
            }
            // You can now store the data, process it, or update your app state
          catch (err) {
            console.error("Caught Error:", err);
            document.getElementById("errorMSG").textcontent = err.message;
          }
        }
    });
  });
</script>
{% endblock extra_js %}
