.loader {
  position: relative;
  width: 100px;
  height: 100px;
}

.loader:before , .loader:after{
  content: '';
  border-radius: 50%;
  position: absolute;
  inset: 0;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
}
.loader:after {
  box-shadow: 0 2px 0 #0df8fd inset;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {  transform: rotate(0)}
  100% { transform: rotate(360deg)}
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #121212; /* Material Dark background */
  color: #0df8fd; /* Material text on dark */
  z-index: 9999; /* Stay on top */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  font-family: "Open Sans", sans-serif;
}

.loader-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #0df8fd; /* Material text on dark */
  gap: 1rem; /* space between h2 and loader */
}

.loader-overlay h2 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 200;
  font-family: "Open Sans", sans-serif;
  color: #4f9293; /* Direct style in case inherited one is overwritten */
}

#escape-btn {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 10;
}

