table.dataTable th.nowrap, 
table.dataTable td.nowrap {
  white-space: nowrap !important;
}

/* Optional: prevent layout issues on that table only */
#BattlesTable.dataTable {
  table-layout: auto !important;
  width: auto !important;
}

table.filter-syntax-table td {
  padding-bottom: 4px;
  padding-top: 4px;
  border-bottom: 1px solid #ffffff4d;
  border-top: 1px solid #ffffff4d;
}

table.filter-syntax-table tbody tr:first-child td {
  border-top: none !important;
}

/* Remove bottom border on the last row */
table.filter-syntax-table tbody tr:last-child td {
  border-bottom: none !important;
}