<footer class="pc-footer align-items-right">
    <div class="footer-wrapper container-fluid d-none" id="footer-body">
      <div class="row">
        <div class="col my-1">
          <p class="m-0">
            Powered by <a href="https://app-generator.dev/">App Generator</a>
            </p>
        </div>
        <div class="col-auto my-1">
          <ul class="list-inline footer-link mb-0">
            <li class="list-inline-item"><a href="https://github.com/ejschaef/E7-RTA-Analyzer">GitHub</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col my-1">
          <p class="m-0 f-10">
            Disclaimer: E7 RTA Analyzer is not affiliated with Smilegate Megaport
            <br>nor the publishing of the game Epic 7 in any capacity.
            This site accesses only publicly available data.
            </p>
        </div>
      </div>
    </div>
</footer> 