<footer class="pc-footer align-items-right">
  <div class="footer-wrapper container-fluid">
    <div class="row">
      <div class="col my-1">
        <p class="m-0">
          Powered by <a href="https://app-generator.dev/">App Generator</a>
        </p>
      </div>
      <div class="col-auto my-1">
        <p class="m-0">
          <a href="mailto:support@e7-rta-archive.cc">Contact + Report Issue </a>|
          <a href="https://ko-fi.com/ejs871058" target="_blank"> Server Donations</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-auto my-1">
        <p class="m-0 f-10">
          Disclaimer: E7 RTA Archive is not affiliated with Smilegate Megaport
          nor the publishing of the game Epic 7 in any capacity.
          This site accesses only publicly available data.
        </p>
      </div>
    </div>
  </div>
</footer>