<!-- [Meta] -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="E7 Arena Stats is a tool for users to track their RTA history beyond 100 battles and view some statistics related to their games">
<meta name="keywords" content="e7, Epic 7, Epic Seven, RTA">
<meta name="author" content="ejschaef">

<!-- [app icon] icon -->
<link rel="icon" href="{{ url_for('static', filename='assets/images/app-icon.svg') }}" type="image/x-icon"> <!-- [Font] Family -->
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">
<!-- [Tabler Icons] https://tablericons.com -->
<link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/tabler-icons.min.css') }}" >
<!-- [Feather Icons] https://feathericons.com -->
<link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/feather.css') }}" >
<!-- [Font Awesome Icons] https://fontawesome.com/icons -->
<link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/fontawesome.css') }}" >
<!-- [Material Icons] https://fonts.google.com/icons -->
<link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/material.css') }}" >
<!-- [Template CSS Files] -->
<link href="https://cdn.datatables.net/v/dt/jszip-3.10.1/dt-2.2.2/b-3.2.2/b-html5-3.2.2/date-1.5.5/r-3.0.4/sc-2.4.3/sb-1.8.2/sp-2.3.3/datatables.min.css" rel="stylesheet" integrity="sha384-VYFMbnsJ8PYfW3hNq8cfogf0cpy7X/EXRFxMCW082GEWz34nAkqelcq971ngiH25" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}" id="main-style-link" >
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.css">
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style-preset.css') }}" > -->

<!-- Your Custom CSS -->
<link rel="stylesheet" href="{{ get_manifest(filename='bundled-css.css') }}" >