<header class="pc-header">
    <div class="header-wrapper d-flex align-items-center"> <!-- [Mobile Media Block] start -->
      <div class="me-auto pc-mob-drp d-flex">
        <ul class="list-unstyled">
          <!-- ======= Menu collapse Icon ===== -->
          <li class="pc-h-item pc-sidebar-collapse">
            <a href="#" class="pc-head-link ms-0" id="sidebar-hide">
              <i data-feather="menu"></i>
            </a>
          </li>
          <li class="pc-h-item pc-sidebar-popup">
            <a href="#" class="pc-head-link ms-0" id="mobile-collapse">
              <i data-feather="menu"></i>
            </a>
          </li>
        </ul>
        <div class="toggle-container" id="user-options">
          <!-- <label class="toggle-switch">
              <input type="checkbox">
              <span class="toggle-switch-background">
                <span class="toggle-switch-handle"></span>
              </span>
          </label>
          <h6>  Save Current User</h6> -->

            <button name="switch_user" class="btn btn-primary" type="submit" action="switch-user" id="switch-user-btn">
                Switch User
            </button>
        </div>
      </div>
    </div>
</header>