<header class="pc-header">
    <div class="header-wrapper d-flex align-items-center"> <!-- [Mobile Media Block] start -->
      <div class="me-auto pc-mob-drp d-flex">
        <ul class="list-unstyled">
          <!-- ======= Menu collapse Icon ===== -->
          <li class="pc-h-item pc-sidebar-collapse">
            <a href="#" class="pc-head-link ms-0" id="sidebar-hide">
              <i data-feather="menu"></i>
            </a>
          </li>
          <li class="pc-h-item pc-sidebar-popup">
            <a href="#" class="pc-head-link ms-0" id="mobile-collapse">
              <i data-feather="menu"></i>
            </a>
          </li>
        </ul>
        <div class="nav-grid">
          <button type="button" class="nav-link" data-nav="select-data">
            <span class="nav-cell">
              <img src="{{ url_for('static', filename='assets/images/data-icon.svg') }}" class="img-fluid nav-icon"
                alt="download">
              <span class="nav-label">Select Data</span>
            </span>
          </button>
          <button type="button" class="nav-link" data-nav="show-stats">
            <span class="nav-cell">
              <img src="{{ url_for('static', filename='assets/images/chart-icon.svg') }}" class="img-fluid nav-icon"
                alt="chart">
              <span class="nav-label">Stats</span>
            </span>
          </button>
          <a href="{{ url_for('home_blueprint.search') }}" data-nav="search" class="nav-link">
            <div class="nav-cell">
              <img src="{{ url_for('static', filename='assets/images/search-icon.svg') }}" class="img-fluid nav-icon"
                alt="search">
              <div class="nav-label">Search</div>
            </div>
          </a>
          <a href="{{ url_for('home_blueprint.filter_syntax') }}" data-nav="filter-syntax" class="nav-link">
            <div class="nav-cell">
              <img src="{{ url_for('static', filename='assets/images/filter-icon.svg') }}" class="img-fluid nav-icon"
                alt="filter">
              <div class="nav-label">Filter Syntax</div>
            </div>
          </a>
          <!-- <a href="https://github.com/ejschaef/E7-RTA-Analyzer" data-nav="github" target="_blank" class="nav-link">
            <div class="nav-cell">
              <img src="{{ url_for('static', filename='assets/images/github-icon.svg') }}" class="img-fluid nav-icon"
                alt="github">
              <div class="nav-label">GitHub</div>
            </div>
          </a> -->
        </div>
        <div class="align-items-center d-flex">
          <button type="button" class="brace-btn me-1" id="clear-data-btn">
            <span>Clear Data</span>
          </button>
        </div>
        <div class="align-items-center d-flex">
        <button type="button" class="brace-btn me-1" id="export-csv-btn">
          <span>Export CSV</span>
        </button>
      </div>
      <div class="align-items-center d-flex">
        <button type="button" class="brace-btn me-1" id="official-site-btn">
          <span>Official Site</span>
        </button>
      </div>
        <div class="align-items-start justify-content-center flex-vertical gap-0 p-0 m-0 ms-1 me-1 width-170 text-xs">
          <p class="m-0 p-0 text-xxs">
            User   : <span id="user-name" class="user-info">(None)</span><br>
            UID    : <span id="user-id" class="user-info">(None)</span><br>
            Server : <span id="user-server" class="user-info">(None)</span>
          </p>
        </div>
      </div>
    </div>
</header>