<header class="pc-header">
    <div class="header-wrapper d-flex align-items-center"> <!-- [Mobile Media Block] start -->
      <div class="me-auto pc-mob-drp d-flex">
        <ul class="list-unstyled">
          <!-- ======= Menu collapse Icon ===== -->
          <li class="pc-h-item pc-sidebar-collapse">
            <a href="#" class="pc-head-link ms-0" id="sidebar-hide">
              <i data-feather="menu"></i>
            </a>
          </li>
          <li class="pc-h-item pc-sidebar-popup">
            <a href="#" class="pc-head-link ms-0" id="mobile-collapse">
              <i data-feather="menu"></i>
            </a>
          </li>
        </ul>
        <!-- <label class="toggle-switch">
              <input type="checkbox">
              <div class="toggle-switch-background">
                <div class="toggle-switch-handle"></div>
              </div>
        </label> -->
        <div class="toggle-container">
          <label class="toggle-switch">
              <input type="checkbox">
              <span class="toggle-switch-background">
                <span class="toggle-switch-handle"></span>
              </span>
          </label>
          <h6>  Save Current User</h6>
        </div>
      </div>
    </div>
</header>