<nav class="pc-sidebar">
  <div class="navbar-wrapper">
    <div class="m-header d-flex justify-content-start align-items-center">
      <a href="{{ url_for('home_blueprint.home') }}" class="b-brand text-primary">
        <img src="{{ url_for('static', filename='assets/images/app-icon.svg') }}"
            width="50" height="50" class="img-fluid" alt="logo">
      </a>
      <span class="pc-mtext text-start ms-3 d-flex flex-column">
        <span>RTA</span>
        <span>Archive</span>
      </span>
    </div>
    <div class="navbar-content">

      <ul class="pc-navbar">


        <li class="pc-item pc-caption" id="information-section">
          <label>Content</label>
          <i data-feather="monitor"></i>
        </li>
        <li class="pc-item" id="homeNav">
          <a href="{{ url_for('home_blueprint.home') }}" class="pc-link">
            <span class="pc-micon"><i data-feather="home"></i></span>
            <span class="pc-mtext">Home</span>
          </a>
        </li>
        <li class="pc-item">
          <a href="{{ url_for('home_blueprint.search') }}" class="pc-link">
            <span class="pc-micon"><i data-feather="search"></i></span>
            <span class="pc-mtext">Search</span>
          </a>
        </li>
        <li class="pc-item" id="overviewNav">
          <a href="{{ url_for('home_blueprint.information') }}" class="pc-link">
            <span class="pc-micon"><i data-feather="info"></i></span>
            <span class="pc-mtext">Information</span>
          </a>
        </li>
        <!-- <li class="pc-item pc-caption" id="HeroSection">
          <label>DEV</label>
          <i data-feather="monitor"></i>
        </li>
        <li class="pc-item">
          <a href="{{ url_for('home_blueprint.test') }}" class="pc-link">
            <span class="pc-micon"><i data-feather="download"></i></span>
            <span class="pc-mtext">Test</span>
          </a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>